Docs/Schemas/AccountSync.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/Configuration/AccountSync" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.AccountSync.AccountSync -->
  <xs:element name="AccountSync">
    <xs:complexType>
      <xs:all>
        <xs:element name="Users" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UserAccountSync" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Groups" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GroupAccountSync" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rules" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="http://www.gappex.com/sfp/Configuration/AccountSync" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DefaultGroupAccount" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:element name="RunApps" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RunAppAccountSync" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AcceptAccountDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="PairAccount" />
          <xs:element name="DLLPairAccount" />
        </xs:choice>
        <xs:element name="Settings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="AzureSetting" />
                <xs:element name="Setting" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="DeleteType" type="xs:string" use="optional" />
      <xs:attribute name="IsUserOnlyDeactive" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsGroupOnlyDeactive" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="ADUserNameIdent" type="xs:string" use="optional" default="userprincipalname" />
      <xs:attribute name="ADEmployeeNumberIdent" type="xs:string" use="optional" default="employeeNumber" />
      <xs:attribute name="ADSIDIdent" type="xs:string" use="optional" default="objectsid" />
      <xs:attribute name="ADEmailIdent" type="xs:string" use="optional" default="mail" />
      <xs:attribute name="ADPhoneIdent" type="xs:string" use="optional" default="telephonenumber" />
      <xs:attribute name="ADPathIdent" type="xs:string" use="optional" default="distinguishedName" />
      <xs:attribute name="ADGroupPathIdent" type="xs:string" use="optional" default="distinguishedName" />
      <xs:attribute name="ADPathManagerIdent" type="xs:string" use="optional" default="manager" />
      <xs:attribute name="ADUserAccountControlIdent" type="xs:string" use="optional" default="userAccountControl" />
      <xs:attribute name="ADWhenChangedIdent" type="xs:string" use="optional" default="whenChanged" />
      <xs:attribute name="ADWhenCreatedIdent" type="xs:string" use="optional" default="whenCreated" />
      <xs:attribute name="ADFirstNameIdent" type="xs:string" use="optional" default="givenname" />
      <xs:attribute name="ADLastNameIdent" type="xs:string" use="optional" default="sn" />
      <xs:attribute name="ADDisplayNameIdent" type="xs:string" use="optional" default="displayname" />
      <xs:attribute name="ADGroupSIDIdent" type="xs:string" use="optional" default="objectsid" />
      <xs:attribute name="ADGroupWhenChangedIdent" type="xs:string" use="optional" default="whenChanged" />
      <xs:attribute name="ADGroupWhenCreatedIdent" type="xs:string" use="optional" default="whenCreated" />
      <xs:attribute name="ADGroupNameIdent" type="xs:string" use="optional" default="cn" />
      <xs:attribute name="ADGroupMemberIdent" type="xs:string" use="optional" default="member" />
      <xs:attribute name="ADGroupEmailIdent" type="xs:string" use="optional" default="mail" />
      <xs:attribute name="ADGroupDescriptionIdent" type="xs:string" use="optional" default="description" />
      <xs:attribute name="IsSubGroupUserToParent" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsLoadSubGroup" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsUserNameWithoutDomain" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="FirstImportType" type="xs:string" use="optional" default="ADToSFP" />
      <xs:attribute name="MainPath" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
