Docs/Schemas/AddressValidation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Actions.AddressValidationAction -->
  <xs:element name="AddressValidation">
    <xs:complexType>
      <xs:all>
        <xs:element name="ControlIdents" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ComponentTypes" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="AddressTemplate" type="xs:string" use="optional" />
      <xs:attribute name="AddressIdent" type="xs:string" use="optional" />
      <xs:attribute name="CityIdent" type="xs:string" use="optional" />
      <xs:attribute name="ZIPIdent" type="xs:string" use="optional" />
      <xs:attribute name="ErrorMessage" type="xs:string" use="optional" default="" />
      <xs:attribute name="ErrorMessageResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="ErrorTitle" type="xs:string" use="optional" default="" />
      <xs:attribute name="ErrorTitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsDefaultComponentType" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="RegionCode" type="xs:string" use="optional" default="CZ" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
