Docs/Schemas/Alert.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.Alert.Alert -->
  <xs:element name="Alert">
    <xs:complexType>
      <xs:all>
        <xs:element name="PushNotification" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="IsRequireInteraction" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="RefreshTime" type="xs:int" use="optional" default="60000" />
      <xs:attribute name="UnreadNotShowAfterMinute" type="xs:int" use="optional" default="60" />
      <xs:attribute name="Delay" type="xs:int" use="optional" default="12000" />
      <xs:attribute name="IsVisible" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="AlertType" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
