Docs/Schemas/Attribute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Commons.Attribute -->
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:all>
        <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
