Docs/Schemas/AttributeCondition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration/AccountSync"
           xmlns="http://www.gappex.com/sfp/Configuration/AccountSync"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.AccountSync.Conditions.AttributeCondition -->
  <xs:element name="AttributeCondition">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Key" type="xs:string" use="optional" />
      <xs:attribute name="Expression" type="xs:string" use="optional" />
      <xs:attribute name="Value" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
