Docs/Schemas/AzureExchange.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.EmailReceiver.EmailConnections.Exchange.AzureExchange -->
  <xs:element name="AzureExchange">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="ClientID" type="xs:string" use="optional" />
      <xs:attribute name="TenantID" type="xs:string" use="optional" />
      <xs:attribute name="ClientSecret" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
