Docs/Schemas/BasicImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Imports"
           xmlns="http://www.gappex.com/sfp/Form/Imports"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Imports.BasicImport -->
  <xs:element name="BasicImport">
    <xs:complexType>
      <xs:all>
        <xs:element name="Columns" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="InsertButtonIdent" type="xs:string" use="optional" />
      <xs:attribute name="UpdateButtonIdent" type="xs:string" use="optional" />
      <xs:attribute name="DeleteButtonIdent" type="xs:string" use="optional" />
      <xs:attribute name="DeleteState" type="xs:int" use="optional" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
