Docs/Schemas/BLLAttribute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Attributes.Plugins.BLLAttribute -->
  <xs:element name="BLLAttribute">
    <xs:complexType>
      <xs:all>
        <xs:element name="bllType" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="IsInterface" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="MemberType" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="AssemblyQualifiedName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Assembly" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Module" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNested" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="DeclaringType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="DeclaringMethod" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="ReflectedType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="UnderlyingSystemType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsTypeDefinition" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsArray" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsByRef" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsPointer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsConstructedGenericType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericParameter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericTypeParameter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericMethodParameter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericTypeDefinition" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSZArray" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsVariableBoundArray" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsByRefLike" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsFunctionPointer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsUnmanagedFunctionPointer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="HasElementType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="GenericTypeArguments" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="GenericParameterPosition" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="GenericParameterAttributes" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Attributes" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAbstract" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsImport" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSealed" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSpecialName" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedAssembly" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedFamANDAssem" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedFamily" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedFamORAssem" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedPrivate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedPublic" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNotPublic" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsPublic" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAutoLayout" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsExplicitLayout" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsLayoutSequential" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAnsiClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAutoClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsUnicodeClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsCOMObject" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsContextful" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsEnum" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsMarshalByRef" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsPrimitive" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsValueType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSignatureType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSecurityCritical" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSecuritySafeCritical" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSecurityTransparent" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="StructLayoutAttribute" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="TypeInitializer" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="TypeHandle" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="GUID" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="BaseType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSerializable" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="ContainsGenericParameters" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsVisible" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="CustomAttributes" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsCollectible" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="MetadataToken" type="xs:int" minOccurs="0" maxOccurs="1" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="InterfaceType" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="IsInterface" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="MemberType" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="AssemblyQualifiedName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Assembly" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Module" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNested" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="DeclaringType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="DeclaringMethod" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="ReflectedType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="UnderlyingSystemType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsTypeDefinition" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsArray" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsByRef" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsPointer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsConstructedGenericType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericParameter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericTypeParameter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericMethodParameter" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsGenericTypeDefinition" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSZArray" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsVariableBoundArray" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsByRefLike" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsFunctionPointer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsUnmanagedFunctionPointer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="HasElementType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="GenericTypeArguments" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="GenericParameterPosition" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="GenericParameterAttributes" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Attributes" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAbstract" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsImport" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSealed" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSpecialName" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedAssembly" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedFamANDAssem" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedFamily" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedFamORAssem" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedPrivate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNestedPublic" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsNotPublic" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsPublic" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAutoLayout" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsExplicitLayout" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsLayoutSequential" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAnsiClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsAutoClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsUnicodeClass" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsCOMObject" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsContextful" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsEnum" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsMarshalByRef" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsPrimitive" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsValueType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSignatureType" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSecurityCritical" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSecuritySafeCritical" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSecurityTransparent" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="StructLayoutAttribute" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="TypeInitializer" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="TypeHandle" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="GUID" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="BaseType" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsSerializable" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="ContainsGenericParameters" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsVisible" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="CustomAttributes" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsCollectible" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="MetadataToken" type="xs:int" minOccurs="0" maxOccurs="1" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="TypeId" minOccurs="0" maxOccurs="1">
          <xs:complexType>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
