Docs/Schemas/BodyCondition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.EmailReceiver.Conditions.BodyCondition -->
  <xs:element name="BodyCondition">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Expression" type="xs:string" use="optional" />
      <xs:attribute name="Value" type="xs:string" use="optional" />
      <xs:attribute name="BodyType" type="xs:string" use="optional" default="UniqueBody" />
    </xs:complexType>
  </xs:element>


</xs:schema>
