Docs/Schemas/ChangeCalendarSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.CalendarSettings.ChangeCalendarSetting -->
  <xs:element name="ChangeCalendarSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="RowIDControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="ButtonIdent" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
