Docs/Schemas/ChangeState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.WorkFlow.Actions.ChangeStateAction -->
  <xs:element name="ChangeState">
    <xs:complexType>
      <xs:all>
        <xs:element name="StateDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="State" type="xs:int" use="optional" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
