Docs/Schemas/ClearCacheControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Actions.ClearCacheControlAction -->
  <xs:element name="ClearCacheControl">
    <xs:complexType>
      <xs:all>
        <xs:element name="ControlIdents" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
