Docs/Schemas/ColumnExportSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.ColumnExportSetting -->
  <xs:element name="ColumnExportSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="IsStripHTML" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsExportable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
