Docs/Schemas/Communication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Actions.CommunicationAction -->
  <xs:element name="Communication">
    <xs:complexType>
      <xs:all>
        <xs:element name="GroupEmails" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GroupEmailCommunication" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OtherEmailActions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Action" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Actions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Action" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Type" type="xs:string" use="optional" />
      <xs:attribute name="ControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="IsPriorityToEmail" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsFileConnectEveryTime" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
