Docs/Schemas/CommunicationTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Control/Communication"
           xmlns="http://www.gappex.com/sfp/Form/Control/Communication"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.Communications.Templates.CommunicationTemplate -->
  <xs:element name="CommunicationTemplate">
    <xs:complexType>
      <xs:all>
        <xs:element name="Widgets" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Widget" />
                <xs:element name="EditWidget" />
                <xs:element name="ButtonWidget" />
                <xs:element name="ReceivedEmailWidget" />
                <xs:element name="FileListWidget" />
                <xs:element name="OtherEmailWidget" />
                <xs:element name="PermissionWidget" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HTMLTemplate" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Settings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="RazorEngineSetting" />
                <xs:element name="Setting" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="IsRazorEngine" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
