Docs/Schemas/ComponentSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Component.Settings.ComponentSetting -->
  <xs:element name="ComponentSetting">
    <xs:complexType>
      <xs:all>
        <xs:element name="XmlContent" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="NodeType" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ParentNode" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="ChildNodes" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="PreviousSibling" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="NextSibling" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Attributes" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="OwnerDocument" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="FirstChild" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="LastChild" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="HasChildNodes" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="NamespaceURI" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Prefix" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="LocalName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsReadOnly" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="InnerText" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="OuterXml" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="InnerXml" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="SchemaInfo" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="BaseURI" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Item" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="PreviousText" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Translations" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Translation" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
