Docs/Schemas/Condition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Common"
           xmlns="http://www.gappex.com/sfp/Common"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Commons.Condition -->
  <xs:element name="Condition">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="ExpressionType" type="xs:string" use="optional" />
      <xs:attribute name="Expression" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
