Docs/Schemas/ConfirmFormDialogExtension.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Buttons.Extensions.ConfirmFormDialogExtension -->
  <xs:element name="ConfirmFormDialogExtension">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="ConfirmFormDialogSectionIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
