Docs/Schemas/Configuration.DataSync.Mapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration/DataSync"
           xmlns="http://www.gappex.com/sfp/Configuration/DataSync"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.DataSync.MappingDataSync -->
  <xs:element name="Mapping">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="FromControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="ToControlIdent" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
