Docs/Schemas/ControlShareCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/WorkFlow/ShareCodes"
           xmlns="http://www.gappex.com/sfp/WorkFlow/ShareCodes"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.ShareCodes.ControlShareCode -->
  <xs:element name="ControlShareCode">
    <xs:complexType>
      <xs:all>
        <xs:element name="Controls" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FormControl" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
