Docs/Schemas/CopyCalendarSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.CalendarSettings.CopyCalendarSetting -->
  <xs:element name="CopyCalendarSetting">
    <xs:complexType>
      <xs:all>
        <xs:element name="Mappings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Mapping" />
                <xs:element name="DataSourceMapping" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="RowIDControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="ButtonIdent" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
