Docs/Schemas/DataSourceParameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Models.Parameters.DataSourceParameter -->
  <xs:element name="DataSourceParameter">
    <xs:complexType>
      <xs:all>
        <xs:element name="DataItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OldDataItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ParentDataItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SelectedValueData" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="QueryStringDataItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="POSTDataItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExtensionData" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SpecifyData" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HTMLAttributeDataItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AccountID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="LanguageID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="Permissions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Filter" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Ident" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="FilterID" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="Items" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ItemFilter" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Search" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="FilterMenuFolderTreeIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="FilterTextQuery" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="UserWhere" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ResultListID" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsResultListSet" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
              <xs:element name="DateTo" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsFilterSet" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsApplyImmediately" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsApply" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="SortColumns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SortColumn" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="StartPage" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="EndPage" type="xs:int" minOccurs="0" maxOccurs="1" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
        <xs:element name="DateTo" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
        <xs:element name="MenuFolderTreeIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="FormIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="StartPage" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="EndPage" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="SortColumns" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SortColumn" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ID" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LastRunDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
        <xs:element name="FileID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="DeviceIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="ResultListID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="SegmentFilter" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="VariableTableData" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="VariableTableData" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MemoryFiles" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="File" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TabIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="SelectedRows" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="int" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Token" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Value" minOccurs="0" maxOccurs="1">
          <xs:complexType>
          </xs:complexType>
        </xs:element>
        <xs:element name="WorkFlowState" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="WorkFlowPermissions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SegmentType" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="CommunicationID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="Ident" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="AnonymousID" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="PathURL" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="LocalVariables" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdentValue" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="XMLIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="XMLType" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsDataSourceDeepClose" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="DeepCloneType" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
