Docs/Schemas/DateTimeSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Control/Settings"
           xmlns="http://www.gappex.com/sfp/Form/Control/Settings"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.Settings.DateTimeSetting -->
  <xs:element name="DateTimeSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="MinuteInterval" type="xs:int" use="optional" default="0" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
