Docs/Schemas/DefaultCalendarSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Settings.DefaultCalendarSetting -->
  <xs:element name="DefaultCalendarSetting">
    <xs:complexType>
      <xs:all>
        <xs:element name="HolidayDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SelectedDate" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="DateFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="TimeFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="TimeToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateTimeFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateTimeToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="RowIDControlIdent" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ViewSettings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ViewSetting" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DayHeaderFormat" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="WeekDay" type="xs:string" use="optional" default="" />
      <xs:attribute name="Day" type="xs:string" use="optional" default="" />
      <xs:attribute name="Hour" type="xs:string" use="optional" default="" />
      <xs:attribute name="Minute" type="xs:string" use="optional" default="" />
      <xs:attribute name="Month" type="xs:string" use="optional" default="" />
      <xs:attribute name="Year" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitCommas" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Meridiem" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitZeroMinute" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Second" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
        <xs:element name="TitleFormat" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="WeekDay" type="xs:string" use="optional" default="" />
      <xs:attribute name="Day" type="xs:string" use="optional" default="" />
      <xs:attribute name="Hour" type="xs:string" use="optional" default="" />
      <xs:attribute name="Minute" type="xs:string" use="optional" default="" />
      <xs:attribute name="Month" type="xs:string" use="optional" default="" />
      <xs:attribute name="Year" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitCommas" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Meridiem" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitZeroMinute" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Second" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
        <xs:element name="EventTimeFormat" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="WeekDay" type="xs:string" use="optional" default="" />
      <xs:attribute name="Day" type="xs:string" use="optional" default="" />
      <xs:attribute name="Hour" type="xs:string" use="optional" default="" />
      <xs:attribute name="Minute" type="xs:string" use="optional" default="" />
      <xs:attribute name="Month" type="xs:string" use="optional" default="" />
      <xs:attribute name="Year" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitCommas" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Meridiem" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitZeroMinute" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Second" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SettingDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="MinTime" type="xs:string" use="optional" default="" />
      <xs:attribute name="MaxTime" type="xs:string" use="optional" default="" />
      <xs:attribute name="ViewType" type="xs:string" use="optional" />
      <xs:attribute name="DefaultView" type="xs:string" use="optional" default="" />
      <xs:attribute name="DefaultDate" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsShowHolidayName" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="SlotDuration" type="xs:string" use="optional" default="" />
      <xs:attribute name="AspectRatio" type="xs:decimal" use="optional" default="1.35" />
      <xs:attribute name="IsFixedWeekCount" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DisplayEventTime" type="xs:string" use="optional" default="" />
      <xs:attribute name="DisplayEventEnd" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsHTMLRender" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsSortByViewSettings" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsAllDaySlot" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsScrollToDate" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
