Docs/Schemas/DetailExportSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.DetailExportSetting -->
  <xs:element name="DetailExportSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="ExportType" type="xs:string" use="optional" />
      <xs:attribute name="EncodingType" type="xs:string" use="optional" default="UTF8" />
      <xs:attribute name="IsHeader" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="Separator" type="xs:string" use="optional" default=";" />
      <xs:attribute name="IsPreamble" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
