Docs/Schemas/DLLData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.DataSource.Plugins.DLLData -->
  <xs:element name="DLLData">
    <xs:complexType>
      <xs:all>
        <xs:element name="XmlContent" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="NodeType" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ParentNode" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="ChildNodes" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="PreviousSibling" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="NextSibling" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Attributes" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="OwnerDocument" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="FirstChild" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="LastChild" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="HasChildNodes" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="NamespaceURI" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Prefix" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="LocalName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IsReadOnly" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="InnerText" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="OuterXml" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="InnerXml" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="SchemaInfo" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="BaseURI" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Item" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="PreviousText" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Path" type="xs:string" use="optional" />
      <xs:attribute name="ClassType" type="xs:string" use="optional" />
      <xs:attribute name="DLLIdent" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
