Docs/Schemas/DLLImmediatelyRunApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.ImmediatelyRunApps.DLLImmediatelyRunApp -->
  <xs:element name="DLLImmediatelyRunApp">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Path" type="xs:string" use="optional" />
      <xs:attribute name="ClassType" type="xs:string" use="optional" />
      <xs:attribute name="DLLIdent" type="xs:string" use="optional" />
      <xs:attribute name="AppType" type="xs:string" use="optional" default="EmailSender" />
      <xs:attribute name="IsRunAsync" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
