Docs/Schemas/DLLRunApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.TaskScheduler.RunApps.DLLRunApp -->
  <xs:element name="DLLRunApp">
    <xs:complexType>
      <xs:all>
        <xs:element name="Args" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Path" type="xs:string" use="optional" />
      <xs:attribute name="ClassType" type="xs:string" use="optional" />
      <xs:attribute name="DLLIdent" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
