Docs/Schemas/DLLSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Sections.DLLSection -->
  <xs:element name="DLLSection">
    <xs:complexType>
      <xs:all>
        <xs:element name="DLLs" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DLL" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="AbsolutePath" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
