Docs/Schemas/Duplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Actions.DuplicationAction -->
  <xs:element name="Duplication">
    <xs:complexType>
      <xs:all>
        <xs:element name="ControlIdents" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="ControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="InsertControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="IsRemoveCreator" type="xs:boolean" use="optional" />
      <xs:attribute name="Separator" type="xs:string" use="optional" default="," />
      <xs:attribute name="ReplaceControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="CreateForControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
