Docs/Schemas/EmailReciverSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Sections.EmailReciverSection -->
  <xs:element name="EmailReciverSection">
    <xs:complexType>
      <xs:all>
        <xs:element name="Proxy" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="Address" type="xs:string" use="optional" />
      <xs:attribute name="Port" type="xs:int" use="optional" default="0" />
      <xs:attribute name="UserName" type="xs:string" use="optional" default="" />
      <xs:attribute name="Password" type="xs:string" use="optional" default="" />
      <xs:attribute name="Domain" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Connections" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EmailConnection" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rules" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
