Docs/Schemas/ExchangeEmailConnection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.EmailReceiver.EmailConnections.ExchangeEmailConnection -->
  <xs:element name="ExchangeEmailConnection">
    <xs:complexType>
      <xs:all>
        <xs:element name="Azure" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="ClientID" type="xs:string" use="optional" />
      <xs:attribute name="TenantID" type="xs:string" use="optional" />
      <xs:attribute name="ClientSecret" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ReadingRules" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReadingRule" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="ExchangeVersionType" type="xs:string" use="optional" default="None" />
      <xs:attribute name="ServerUrl" type="xs:string" use="optional" />
      <xs:attribute name="UserName" type="xs:string" use="optional" />
      <xs:attribute name="Password" type="xs:string" use="optional" default="" />
      <xs:attribute name="Folder" type="xs:string" use="optional" default="" />
      <xs:attribute name="ShareBoxEmail" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
