Docs/Schemas/ExternalSignIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.ExternalSignIn.ExternalSignIn -->
  <xs:element name="ExternalSignIn">
    <xs:complexType>
      <xs:all>
        <xs:element name="Google" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Scopes" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="ClientID" type="xs:string" use="optional" default="" />
      <xs:attribute name="ClientSecret" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsAutoConnect" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsAutoLogin" type="xs:boolean" use="optional" default="false" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Microsoft" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="DLLCreateAccount" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="IsRedirectToLogin" type="xs:boolean" use="optional" default="false" />
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
