Docs/Schemas/FileSystemRTBEditor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.Global.RTBEditor.FileSystemRTBEditor -->
  <xs:element name="FileSystemRTBEditor">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="AliasUrl" type="xs:string" use="optional" />
      <xs:attribute name="FolderPath" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
