Docs/Schemas/FolderTreeItemSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.FolderTreeItemSetting -->
  <xs:element name="FolderTreeItemSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="ControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="Level" type="xs:int" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
