Docs/Schemas/Form.Imports.DLLImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Imports"
           xmlns="http://www.gappex.com/sfp/Form/Imports"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Imports.DLLImport -->
  <xs:element name="DLLImport">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Path" type="xs:string" use="optional" />
      <xs:attribute name="ClassType" type="xs:string" use="optional" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
