Docs/Schemas/From.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/DataSource/Froms"
           xmlns="http://www.gappex.com/sfp/DataSource/Froms"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.DataSource.Froms.From -->
  <xs:element name="From">
    <xs:complexType>
      <xs:all>
        <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Columns" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
