Docs/Schemas/Geocode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Actions.GeocodeAction -->
  <xs:element name="Geocode">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="IsReload" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="ErrorDialogTitle" type="xs:string" use="optional" />
      <xs:attribute name="ErrorDialogTitleResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="ErrorDialogDescription" type="xs:string" use="optional" />
      <xs:attribute name="ErrorDialogDescriptionResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="SuccessDialogTitle" type="xs:string" use="optional" />
      <xs:attribute name="SuccessDialogTitleResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="SuccessDialogDescription" type="xs:string" use="optional" />
      <xs:attribute name="SuccessDialogDescriptionResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="AddressTemplate" type="xs:string" use="optional" />
      <xs:attribute name="LatControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="LngControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
