Docs/Schemas/GetGPS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.JavaScripts.GetGPSJavaScript -->
  <xs:element name="GetGPS">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="LatControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="LngControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="AcceptAccuracy" type="xs:int" use="optional" default="1000" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
