Docs/Schemas/Global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.Settings.Global.Global -->
  <xs:element name="Global">
    <xs:complexType>
      <xs:all>
        <xs:element name="ExternalCssRelativePaths" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExternalJavaScriptRelativePaths" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Favicons" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Favicon" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RemoteConnectionStrings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RemoteConnectionString" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Logos" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Logo" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RTBEditor" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="AccessFolderDataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="FileSystem" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Licenses" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="License" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="License" type="xs:string" use="optional" />
      <xs:attribute name="MaxAllowedContentLength" type="xs:int" use="optional" default="20971520" />
      <xs:attribute name="MaxEmbedImageSize" type="xs:int" use="optional" default="0" />
      <xs:attribute name="StorageType" type="xs:string" use="optional" default="FileSystem" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Scheduler" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="License" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="PriorityDataViewSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="IsHidePasswordRecover" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsHideLanguage" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="MainLogoPath" type="xs:string" use="optional" default="" />
      <xs:attribute name="LoginLogoPath" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsAutoRecognizeLanguage" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsNotificationIgnoreRotatedDirection" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsSignalREnabled" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="GoogleAPIKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="FullTextLanguage" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsShareOrder" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsNote" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="LogOffUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsMetaVersion" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsDataViewToolTipCTRL" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="GlobalSearchIdent" type="xs:string" use="optional" default="GlobalSearch" />
      <xs:attribute name="AppName" type="xs:string" use="optional" />
      <xs:attribute name="IsLogOffAzure" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsReCaptchaPublicPage" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
