Docs/Schemas/GroupMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Mappings.GroupMapping -->
  <xs:element name="GroupMapping">
    <xs:complexType>
      <xs:all>
        <xs:element name="Mappings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Mapping" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="FileExtension" type="xs:string" use="optional" default="" />
      <xs:attribute name="FileContentType" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
