Docs/Schemas/HeaderHTTP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.HTTP.HeaderHTTP -->
  <xs:element name="HeaderHTTP">
    <xs:complexType>
      <xs:all>
        <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="IsInlineScript" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IFrameAccessDomain" type="xs:string" use="optional" default="" />
      <xs:attribute name="ImageAccessDomain" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGoogleMaps" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsGoogleReCaptcha" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
