Docs/Schemas/HeaderSegment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.Segments.HeaderSegment -->
  <xs:element name="HeaderSegment">
    <xs:complexType>
      <xs:all>
        <xs:element name="SegmentTypes" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DefaultMenus" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MenuSegment" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Filter" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="DataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="DefaultDataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="SegmentType" type="xs:string" use="optional" />
      <xs:attribute name="IconCssClass" type="xs:string" use="optional" />
      <xs:attribute name="IconColor" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="AriaLabel" type="xs:string" use="optional" default="" />
      <xs:attribute name="AriaLabelResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="Url" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOpenNewWindow" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="ToolTip" type="xs:string" use="optional" default="" />
      <xs:attribute name="ToolTipResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsMenuVisible" type="xs:boolean" use="optional" default="true" />
    </xs:complexType>
  </xs:element>


</xs:schema>
