Docs/Schemas/IconCssClassPresentation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/Common" />


  <!-- SFP.Kernel.Model.DataSource.Presentations.IconCssClassPresentation -->
  <xs:element name="IconCssClassPresentation">
    <xs:complexType>
      <xs:all>
        <xs:element name="Condition" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="ExpressionType" type="xs:string" use="optional" />
      <xs:attribute name="Expression" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="TrueValue" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="FalseValue" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
