Docs/Schemas/IconSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Control/Settings"
           xmlns="http://www.gappex.com/sfp/Form/Control/Settings"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.Settings.IconSetting -->
  <xs:element name="IconSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="IconCssClass" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsLink" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="Href" type="xs:string" use="optional" default="javascript:void(0);" />
      <xs:attribute name="LinkCssClass" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="JavaScriptOnClick" type="xs:string" use="optional" default="" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
