Docs/Schemas/ImmediatelyRunAppSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Sections.ImmediatelyRunAppSection -->
  <xs:element name="ImmediatelyRunAppSection">
    <xs:complexType>
      <xs:all>
        <xs:element name="RunApps" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="DLLImmediatelyRunApp" />
                <xs:element name="ImmediatelyRunApp" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
