Docs/Schemas/Imports.Basics.Column.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Imports"
           xmlns="http://www.gappex.com/sfp/Form/Imports"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Imports.Basics.ColumnBasicImport -->
  <xs:element name="Column">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Index" type="xs:int" use="optional" />
      <xs:attribute name="DefaultValue" type="xs:string" use="optional" default="" />
      <xs:attribute name="ControlIdent" type="xs:string" use="optional" />
      <xs:attribute name="IsPrimaryKey" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsDeleteState" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
