Docs/Schemas/ISDS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/Configuration/ISDS" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.ISDS.ISDS -->
  <xs:element name="ISDS">
    <xs:complexType>
      <xs:all>
        <xs:element name="Rules" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="http://www.gappex.com/sfp/Configuration/ISDS" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataBoxConfig" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="ReceiveScheduleCheckSelect" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="SendScheduleCheckSelect" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="FormIdent" type="xs:string" use="optional" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
