Docs/Schemas/ISDSSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/Configuration/ISDS" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.Sections.ISDSSection -->
  <xs:element name="ISDSSection">
    <xs:complexType>
      <xs:all>
        <xs:element name="ISDS" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Rules" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/Configuration/ISDS" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataBoxConfig" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="FormIdent" type="xs:string" use="optional" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="ProxyAddress" type="xs:string" use="optional" />
      <xs:attribute name="UserEventLogFormIdent" type="xs:string" use="optional" />
      <xs:attribute name="AccountID" type="xs:int" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
