Docs/Schemas/ItemFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Models.Filters.ItemFilter -->
  <xs:element name="ItemFilter">
    <xs:complexType>
      <xs:all>
        <xs:element name="Ident" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="ValueText" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Marker" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="ParentIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsRequired" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
