Docs/Schemas/ItemButton.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.Builders.Buttons.ItemButton -->
  <xs:element name="ItemButton">
    <xs:complexType>
      <xs:all>
        <xs:element name="Attributes" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="Title" type="xs:string" use="optional" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
