Docs/Schemas/Kiosk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.Kiosk.Kiosk -->
  <xs:element name="Kiosk">
    <xs:complexType>
      <xs:all>
        <xs:element name="UserDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:element name="KioskDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:element name="UserPINDataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="SQL" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Columns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Column" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/DataSource/Parameters" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Froms" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="From" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DLLData" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="GroupIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailUrl" type="xs:string" use="optional" default="" />
      <xs:attribute name="DetailTarget" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsGeneratePaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="RemoteConnectionStringIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsPermissionInTempTable" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="PermissionModeType" type="xs:string" use="optional" default="Basic" />
          </xs:complexType>
        </xs:element>
        <xs:element name="LoginTemplate" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="HTMLTemplate" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="DataSources" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DataSource" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Settings" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                      <xs:element name="RazorEngineSetting" />
                      <xs:element name="Setting" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="IsRazorEngine" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsRenderTemplateEnableHTTPEncoding" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsRenderTemplate" type="xs:boolean" use="optional" default="false" />
          </xs:complexType>
        </xs:element>
        <xs:element name="RegistrationTemplate" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="HTMLTemplate" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="DataSources" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DataSource" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Settings" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                      <xs:element name="RazorEngineSetting" />
                      <xs:element name="Setting" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="IsRazorEngine" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsRenderTemplateEnableHTTPEncoding" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsRenderTemplate" type="xs:boolean" use="optional" default="false" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="InactivityTimeoutMinutes" type="xs:int" use="optional" default="2" />
      <xs:attribute name="SystemUserName" type="xs:string" use="optional" default="" />
      <xs:attribute name="InputMinLength" type="xs:int" use="optional" default="6" />
      <xs:attribute name="InputTimeout" type="xs:int" use="optional" default="200" />
      <xs:attribute name="IsPINRequired" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="TokenSecurityKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="TokenValidationDateMinute" type="xs:int" use="optional" default="5" />
      <xs:attribute name="TokenIssuer" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
