Docs/Schemas/KioskSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.Sections.KioskSection -->
  <xs:element name="KioskSection">
    <xs:complexType>
      <xs:all>
        <xs:element name="Kiosk" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="UserDataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="KioskDataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="UserPINDataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="LoginTemplate" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="RegistrationTemplate" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="InactivityTimeoutMinutes" type="xs:int" use="optional" default="2" />
      <xs:attribute name="SystemUserName" type="xs:string" use="optional" default="" />
      <xs:attribute name="InputMinLength" type="xs:int" use="optional" default="6" />
      <xs:attribute name="InputTimeout" type="xs:int" use="optional" default="200" />
      <xs:attribute name="IsPINRequired" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="TokenSecurityKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="TokenValidationDateMinute" type="xs:int" use="optional" default="5" />
      <xs:attribute name="TokenIssuer" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
