Docs/Schemas/Library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Library.Library -->
  <xs:element name="Library">
    <xs:complexType>
      <xs:all>
        <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" default="" />
        <xs:element name="PackageIdents" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Command" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="LibraryType" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
