Docs/Schemas/LinkExtension.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Buttons.Extensions.LinkExtension -->
  <xs:element name="LinkExtension">
    <xs:complexType>
      <xs:all>
        <xs:element name="AccessPermissions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DenyPermissions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Href" type="xs:string" use="optional" default="" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IconCssClass" type="xs:string" use="optional" default="" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
