Docs/Schemas/Logo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.Global.Logos.Logo -->
  <xs:element name="Logo">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="ThemeType" type="xs:string" use="optional" />
      <xs:attribute name="MainLogoPath" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
