Docs/Schemas/MasterPageWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Web.MasterPageWeb.MasterPageWeb -->
  <xs:element name="MasterPageWeb">
    <xs:complexType>
      <xs:all>
        <xs:element name="Renders" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Render" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Widgets" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Widget" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="PackageIdents" type="xs:string" use="optional" />
      <xs:attribute name="MasterPageIdent" type="xs:string" use="optional" default="MasterPageIdent" />
    </xs:complexType>
  </xs:element>


</xs:schema>
