Docs/Schemas/MenuSegment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Segments.MenuSegment -->
  <xs:element name="MenuSegment">
    <xs:complexType>
      <xs:all>
        <xs:element name="AccessPermissions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DenyPermissions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IsCount" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="Priority" type="xs:int" use="optional" default="0" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="GroupTitle" type="xs:string" use="optional" default="" />
      <xs:attribute name="GroupTitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="Url" type="xs:string" use="optional" default="" />
      <xs:attribute name="IconCssClass" type="xs:string" use="optional" default="" />
      <xs:attribute name="IconColor" type="xs:string" use="optional" default="" />
      <xs:attribute name="CountColorCssClass" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOpenNewWindow" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="ToolTip" type="xs:string" use="optional" default="" />
      <xs:attribute name="ToolTipResourceKey" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
