Docs/Schemas/MicrosoftExternalSignIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.ExternalSignIn.MicrosoftExternalSignIn -->
  <xs:element name="MicrosoftExternalSignIn">
    <xs:complexType>
      <xs:all>
        <xs:element name="DLLCreateAccount" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="XmlContent" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Path" type="xs:string" use="optional" default="" />
      <xs:attribute name="ClassType" type="xs:string" use="optional" default="" />
      <xs:attribute name="DLLIdent" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="IsRedirectToLogin" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
