Docs/Schemas/Models.Filters.Filter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Models.Filters.Filter -->
  <xs:element name="Filter">
    <xs:complexType>
      <xs:all>
        <xs:element name="Ident" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="FilterID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="Items" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ItemFilter" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Search" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="FilterMenuFolderTreeIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="FilterTextQuery" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="UserWhere" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="ResultListID" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsResultListSet" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="DateFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
        <xs:element name="DateTo" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsFilterSet" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsApplyImmediately" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="IsApply" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="SortColumns" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SortColumn" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StartPage" type="xs:int" minOccurs="0" maxOccurs="1" />
        <xs:element name="EndPage" type="xs:int" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
