Docs/Schemas/MultiMonthCalendarSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.CalendarSettings.MultiMonthCalendarSetting -->
  <xs:element name="MultiMonthCalendarSetting">
    <xs:complexType>
      <xs:all>
        <xs:element name="TitleFormat" minOccurs="0" maxOccurs="1">
          <xs:complexType>

            <!-- Attributes -->
      <xs:attribute name="WeekDay" type="xs:string" use="optional" default="" />
      <xs:attribute name="Day" type="xs:string" use="optional" default="" />
      <xs:attribute name="Hour" type="xs:string" use="optional" default="" />
      <xs:attribute name="Minute" type="xs:string" use="optional" default="" />
      <xs:attribute name="Month" type="xs:string" use="optional" default="" />
      <xs:attribute name="Year" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitCommas" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Meridiem" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOmitZeroMinute" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Second" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="MaxColumn" type="xs:int" use="optional" default="0" />
      <xs:attribute name="MinWidth" type="xs:int" use="optional" default="0" />
    </xs:complexType>
  </xs:element>


</xs:schema>
