Docs/Schemas/Padding.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Commons.Padding -->
  <xs:element name="Padding">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Left" type="xs:int" use="optional" />
      <xs:attribute name="Right" type="xs:int" use="optional" />
      <xs:attribute name="Top" type="xs:int" use="optional" />
      <xs:attribute name="Bottom" type="xs:int" use="optional" />
      <xs:attribute name="LeftColumnIdent" type="xs:string" use="optional" />
      <xs:attribute name="RightColumnIdent" type="xs:string" use="optional" />
      <xs:attribute name="TopColumnIdent" type="xs:string" use="optional" />
      <xs:attribute name="BottomColumnIdent" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
