Docs/Schemas/PageWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Web.PageWeb.PageWeb -->
  <xs:element name="PageWeb">
    <xs:complexType>
      <xs:all>
        <xs:element name="Sections" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Section" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Widgets" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Widget" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Settings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="WebURLSetting" />
                <xs:element name="Setting" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="PackageIdents" type="xs:string" use="optional" />
      <xs:attribute name="MasterPageIdent" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
