Docs/Schemas/PlaceHolderControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.PlaceHolderControl -->
  <xs:element name="PlaceHolderControl">
    <xs:complexType>
      <xs:all>
        <xs:element name="FilterConditions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataSource" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="IsIgnoreReadOnlyParent" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsVisible" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsReadOnly" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsFakeReadOnly" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="TabIndex" type="xs:int" use="optional" default="0" />
      <xs:attribute name="IsShowUserWhere" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="HelpTitle" type="xs:string" use="optional" default="" />
      <xs:attribute name="HelpTitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="HelpDescription" type="xs:string" use="optional" default="" />
      <xs:attribute name="HelpDescriptionResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="CssClass" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
