Docs/Schemas/PlacementPermissionSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Control/Settings"
           xmlns="http://www.gappex.com/sfp/Form/Control/Settings"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.Settings.PlacementPermissionSetting -->
  <xs:element name="PlacementPermissionSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="PlacementType" type="xs:string" use="optional" default="Left" />
      <xs:attribute name="Permission" type="xs:string" use="optional" default="" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
