Docs/Schemas/PushNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/WorkFlow/Action/PushNotification" />


  <!-- SFP.Kernel.Model.WorkFlow.Actions.PushNotificationAction -->
  <xs:element name="PushNotification">
    <xs:complexType>
      <xs:all>
        <xs:element name="Recipients" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RecipientPushNotification" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="PushNotificationIdent" type="xs:string" use="optional" />
      <xs:attribute name="IsStopSendActionCreator" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="MessageResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="UrlTemplate" type="xs:string" use="optional" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
