Docs/Schemas/PWASection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Sections.PWASection -->
  <xs:element name="PWASection">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="IsEnabled" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="ManifestPath" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
