Docs/Schemas/RegistrationComponent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Component.RegistrationComponent -->
  <xs:element name="RegistrationComponent">
    <xs:complexType>
      <xs:all>
        <xs:element name="Setting" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="XmlContent" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="DataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Translations" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Translation" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Sections" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Section" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="ComponentIdent" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
