Docs/Schemas/RemoteConnectionString.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.Settings.Global.RemoteConnectionStrings.RemoteConnectionString -->
  <xs:element name="RemoteConnectionString">
    <xs:complexType>
      <xs:all>
        <xs:element name="ConnectionString" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="DatabaseType" type="xs:string" use="optional" default="MSSQL" />
    </xs:complexType>
  </xs:element>


</xs:schema>
