Docs/Schemas/ReportExportSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.ReportExportSetting -->
  <xs:element name="ReportExportSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="IsApplyColumnSetting" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
