Docs/Schemas/RowIdentTable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.Tables.RowIdentTable -->
  <xs:element name="RowIdentTable">
    <xs:complexType>
      <xs:all>
        <xs:element name="Ident" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Attributes" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
