Docs/Schemas/RunApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration/AccountSync"
           xmlns="http://www.gappex.com/sfp/Configuration/AccountSync"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.AccountSync.RunAppAccountSync -->
  <xs:element name="RunApp">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="FilePath" type="xs:string" use="optional" />
      <xs:attribute name="Argument" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
