Docs/Schemas/SelectedDateCalendarSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.CalendarSettings.SelectedDateCalendarSetting -->
  <xs:element name="SelectedDateCalendarSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="DateFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="TimeFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="TimeToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateTimeFromControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DateTimeToControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="RowIDControlIdent" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
