Docs/Schemas/SessionDataBind.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Controls.SessionDataBind.SessionDataBind -->
  <xs:element name="SessionDataBind">
    <xs:complexType>
      <xs:all>
        <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="AggregateType" type="xs:string" use="optional" default="Sum" />
      <xs:attribute name="ControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsInitJSDependency" type="xs:boolean" use="optional" default="true" />
    </xs:complexType>
  </xs:element>


</xs:schema>
