Docs/Schemas/SortColumn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Models.SortColumn -->
  <xs:element name="SortColumn">
    <xs:complexType>
      <xs:all>
        <xs:element name="SortColumnIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="SortType" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
