Docs/Schemas/SqlDataTypeAttribute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Attributes.SqlDataTypeAttribute -->
  <xs:element name="SqlDataTypeAttribute">
    <xs:complexType>
      <xs:all>
        <xs:element name="DataType" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="TypeId" minOccurs="0" maxOccurs="1">
          <xs:complexType>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
