Docs/Schemas/State.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Definitions.States.State -->
  <xs:element name="State">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Value" type="xs:int" use="optional" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="ColorCssClass" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsOutOfSLA" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
