Docs/Schemas/StepWizard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Form/Wizard"
           xmlns="http://www.gappex.com/sfp/Form/Wizard"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Form.Wizards.StepWizard -->
  <xs:element name="StepWizard">
    <xs:complexType>
      <xs:all>
        <xs:element name="SectionIdents" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="ButtonIdent" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>


</xs:schema>
