Docs/Schemas/Steps.FormControls.ToDoListControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.WorkFlow.Steps.FormControls.ToDoListControl -->
  <xs:element name="ToDoListControl">
    <xs:complexType>
      <xs:all>
        <xs:element name="Validations" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Validation" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="IsShowDeleteButton" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsShowEditButton" type="xs:string" use="optional" default="" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="IsVisible" type="xs:string" use="optional" />
      <xs:attribute name="IsReadOnly" type="xs:string" use="optional" />
      <xs:attribute name="IsFakeReadOnly" type="xs:string" use="optional" />
      <xs:attribute name="IsRequired" type="xs:string" use="optional" />
      <xs:attribute name="IsShowRequired" type="xs:string" use="optional" />
      <xs:attribute name="IsServerDataHackValidation" type="xs:string" use="optional" />
      <xs:attribute name="ShowIsNotEmpty" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsUseValidation" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Title" type="xs:string" use="optional" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
