Docs/Schemas/TableParameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/DataSource/Parameters"
           xmlns="http://www.gappex.com/sfp/DataSource/Parameters"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.DataSource.Parameters.TableParameter -->
  <xs:element name="TableParameter">
    <xs:complexType>
      <xs:all>
        <xs:element name="FilterConditions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataSource" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="FormIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="ControlIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="TableConstantType" type="xs:string" use="optional" default="None" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="IsNullIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsNullFormName" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsNullFormAlterName" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsCaseInsensitive" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
