Docs/Schemas/TaskScheduler.Schedulers.Scheduler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.TaskScheduler.Schedulers.Scheduler -->
  <xs:element name="Scheduler">
    <xs:complexType>
      <xs:all>
        <xs:element name="Triggers" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="DailyTrigger" />
                <xs:element name="Trigger" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="TickInterval" type="xs:int" use="optional" default="60000" />
    </xs:complexType>
  </xs:element>


</xs:schema>
