Docs/Schemas/TimeSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Settings.TimeSetting -->
  <xs:element name="TimeSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="WeekMinute" type="xs:int" use="optional" default="2400" />
      <xs:attribute name="DayMinute" type="xs:int" use="optional" default="480" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
