Docs/Schemas/Translation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Component.Translations.Translation -->
  <xs:element name="Translation">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="ResourceKey" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
