Docs/Schemas/User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration/AccountSync"
           xmlns="http://www.gappex.com/sfp/Configuration/AccountSync"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.AccountSync.UserAccountSync -->
  <xs:element name="User">
    <xs:complexType>
      <xs:all>
        <xs:element name="GroupIDs" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="int" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Conditions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Condition" />
                <xs:element name="AttributeCondition" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Settings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="AzureHeaderSetting" />
                <xs:element name="AzureUserSetting" />
                <xs:element name="Setting" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="Search" type="xs:string" use="optional" default="" />
      <xs:attribute name="Filter" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsAccount" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="ConnectorIdent" type="xs:string" use="optional" default="Base" />
    </xs:complexType>
  </xs:element>


</xs:schema>
