Docs/Schemas/ValueMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Configuration.EmailReceiver.Mappings.ValueMapping -->
  <xs:element name="ValueMapping">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Value" type="xs:string" use="optional" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="IsRequired" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
