Docs/Schemas/VariableTableData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />
  <xs:import namespace="http://www.gappex.com/sfp/Form/Imports" />
  <xs:import namespace="http://www.gappex.com/sfp/Form/Wizard" />


  <!-- SFP.Kernel.Model.Models.VariableTableData -->
  <xs:element name="VariableTableData">
    <xs:complexType>
      <xs:all>
        <xs:element name="Form" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="QueryStringRemoveParameters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataPermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DynamicPermission" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="CreatePermissions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AccessToken" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Sections" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Section" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Buttons" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Button" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Controls" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Control" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SLACriteriaControls" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Control" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Settings" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Setting" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Indexes" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Index" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sequences" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Sequence" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Imports" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any namespace="http://www.gappex.com/sfp/Form/Imports" minOccurs="0" maxOccurs="unbounded" processContents="strict" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BreadcrumbSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="PackageIdents" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ExternalCssRelativePaths" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ExternalJavaScriptRelativePaths" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SetSegmentFilterDataSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Components" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Component" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Wizard" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="IsFolderTreePermission" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsPublic" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsPaging" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsPublicTokenRequired" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsOnlyPublicUser" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsReCaptcha" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="LayoutType" type="xs:string" use="optional" default="Form" />
      <xs:attribute name="PublicUserLogin" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsUnloadConfirm" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="MainIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="SegmentType" type="xs:string" use="optional" default="" />
      <xs:attribute name="FormType" type="xs:string" use="optional" default="Classic" />
      <xs:attribute name="FolderLevel" type="xs:int" use="optional" default="0" />
      <xs:attribute name="FolderGroupSegmentIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsSubForm" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsSubFormDetailOpenAsForm" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="Title" type="xs:string" use="optional" default="" />
      <xs:attribute name="TitleResourceKey" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsRazorEngine" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsOverwriteCheck" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="IsDebug" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="IsCache" type="xs:boolean" use="optional" default="true" />
      <xs:attribute name="CacheAbsoluteExpiration" type="xs:decimal" use="optional" default="0.3" />
      <xs:attribute name="Width" type="xs:int" use="optional" default="0" />
      <xs:attribute name="IsCreateTable" type="xs:boolean" use="optional" default="true" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ControlIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="ConstantType" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="Controls" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FormControl" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rows" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="Comparer" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Count" type="xs:int" minOccurs="0" maxOccurs="1" />
              <xs:element name="Keys" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Values" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="Item" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DataItem" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
