Docs/Schemas/VariableParameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/DataSource/Parameters"
           xmlns="http://www.gappex.com/sfp/DataSource/Parameters"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.DataSource.Parameters.VariableParameter -->
  <xs:element name="VariableParameter">
    <xs:complexType>
      <xs:all>
        <xs:element name="FilterConditions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataSource" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="DataType" type="xs:string" use="optional" />
      <xs:attribute name="AlterIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="SetDataType" type="xs:string" use="optional" default="ActualData" />
      <xs:attribute name="MaxLength" type="xs:int" use="optional" default="0" />
      <xs:attribute name="ConstantType" type="xs:string" use="optional" default="None" />
      <xs:attribute name="LikeType" type="xs:string" use="optional" default="None" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
      <xs:attribute name="IsNullIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsNullFormName" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsNullFormAlterName" type="xs:string" use="optional" default="" />
      <xs:attribute name="IsCaseInsensitive" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>
  </xs:element>


</xs:schema>
