Docs/Schemas/WebSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.gappex.com/sfp/Configuration"
           xmlns="http://www.gappex.com/sfp/Configuration"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Parameters" />
  <xs:import namespace="http://www.gappex.com/sfp/DataSource/Froms" />


  <!-- SFP.Kernel.Model.Configuration.Sections.WebSection -->
  <xs:element name="WebSection">
    <xs:complexType>
      <xs:all>
        <xs:element name="Web" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="HomePageSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="MenuSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="DocumentSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
              <xs:element name="SitemapSource" type="xs:anyType" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Attributes -->
      <xs:attribute name="DefaultMenuFolderGroupSegmentIdent" type="xs:string" use="optional" default="" />
      <xs:attribute name="DefaultMenuFormIdent" type="xs:string" use="optional" default="" />
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>


</xs:schema>
