Docs/Schemas/WebURLSetting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

  <!-- SFP.Kernel.Model.Web.PageWeb.Settings.WebURLSetting -->
  <xs:element name="WebURLSetting">
    <xs:complexType>

      <!-- Attributes -->
      <xs:attribute name="Path" type="xs:string" use="optional" />
      <xs:attribute name="SectionIdent" type="xs:string" use="optional" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
