Docs/Schemas/WorkFlow.Actions.Alert.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.gappex.com/sfp/WorkFlow/Action/Alert" />


  <!-- SFP.Kernel.Model.WorkFlow.Actions.AlertAction -->
  <xs:element name="Alert">
    <xs:complexType>
      <xs:all>
        <xs:element name="Recipients" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RecipientAlert" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>

      <!-- Attributes -->
      <xs:attribute name="AlertIdent" type="xs:string" use="optional" />
      <xs:attribute name="IsStopSendActionCreator" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="MessageResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="PushTitleResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="PushBodyResourceKey" type="xs:string" use="optional" />
      <xs:attribute name="IconCssClass" type="xs:string" use="optional" />
      <xs:attribute name="IconColor" type="xs:string" use="optional" />
      <xs:attribute name="ActionStart" type="xs:string" use="optional" />
      <xs:attribute name="RunPriority" type="xs:int" use="optional" default="1" />
      <xs:attribute name="Ident" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>


</xs:schema>
